
.custom-container {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: 0 auto;
  padding-bottom: 2rem;
  border-bottom: 1px;
}

.item-card {
  height: 20rem;
  width: 15rem;
  padding: 2rem;
  padding-bottom: 1rem;
  margin-bottom: 3rem;
  padding-top: 3rem;
}
